.nav {
    display: flex;
    justify-content: space-between;
}
.items {
    display: flex;
    list-style: none;
}
.nav-item {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.logo {
    cursor: pointer;
    margin: 10px;
}

.logo-item {
    text-decoration: none;
    color: #333;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ea;
    -moz-transition: 0.3s all ea;
    -ms-transition: 0.3s all ea;
    -o-transition: 0.3s all ea;
} 
.logo-item:hover {
    color: #ff3636;
}